@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 20px 150px 30px 150px;
}

.navbar-links{
    display: flex;
    justify-content: space-between;
    width: 450px;
    flex-direction: row;
    font-size: 18px;
    color: #e5e7eb;
}

.navbar-links a:link, a:visited{
    color: #e5e7eb;
    text-decoration: none;
}

.back-button:link{
    text-decoration: none;
    font-weight: bold;
}

.first-page-header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 30px 180px 25px 180px;
}

.first-section{
    background-color: #e5e7eb;
    display: flex;
    height: 300px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.left-part{
    flex-grow: 1;
    margin: 0;
    font-size: 20px;
    width: 500px; 
}

.left-part p{
    padding: 0px 8px 0px 100px;
    text-align: left;
    line-height: 1.5;
}

.right-part{    
    flex-grow: 1;
    width: 500px;
}

.img-placeholder{
    background-color: grey;
    width: 250px;
    margin-left: 200px;
    padding: 80px;
    border-radius: 8px;
}

.middle-section{
    display: flex;
    flex-grow: 1;
    /* background-color: grey; */
    justify-content: space-around;
}

.middle-left {
    width: 400px;
    height: 400px;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    background-color: #1F2937;
    color: aliceblue;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 70px;
    border-radius: 4px;
}
.middle-left p, .middle-right p{
    margin: 0;
    padding: 25px;
}

.middle-right{
    width: 400px;
    height: 400px;
    align-items: center;
    text-align: center;
    margin-top: 243px;
    margin-bottom: 80px;
    background-color: aliceblue;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 70px;
    border-radius: 4px;
}

footer{
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    height: 50px;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
}